<div class="row receipt">
  <div class="col-sm-6 col-sm-offset-5">
    <p> <%=  @params[:name] %>, the following information will be sent to the staff</p>
    <p>Email: <%=  @params[:email] %></p>
    <p>Location:<%=  @params[:number] %></p>
    <p>Your spot: <%=  @params[:location] %></p>
    <p>Message: <%=  @params[:wanted] %></p>
  </div>
</div>
