<div class="row receipt">
  <div class="col-sm-6 col-sm-offset-5">
    <p> <%=  @params[:name] %>, your receipt below</p>
    <p>Email: <%=  @params[:email] %></p>
    <p>Location:<%=  @params[:number] %></p>
    <p>Your spot: <%=  @params[:location] %></p>
    <p>Things wanted: <%=  @params[:wanted] %></p>
  </div>
</div>
